:root{
    --color-white: #000000;
    --color-dark1: linear-gradient(72deg, #00dbff 35%, #ffffff, #ffffff 99%);
    --color-dark2:#ffffff;
    --color-dark3: #ffffff;
    --color-dark4: #1c1c1c;
    --color-dark5: #ffffff;
    --color-kil: #1bb87b;
    --color-purple: #000000;
    --color-h1: #1c1c1c;

}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-dark1);
    color: var(--color-white);
}

.img_logo_header{
    width: 100px;
    
}
.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header{
    background-color: var(--color-dark2);
    justify-content: space-between;
    padding: 0 10%;
    height: 5.5em;
    box-shadow: 1px 1px 4px var(--color-dark4);
}
h1{
    background-repeat: no-repeat;
    height: 60%;
    background-attachment: fixed; 
    background-size: 90% 90%;
    color: var(--color-h1);
    margin-inline-start: 9em;
    margin-inline-end: 10em;
}

.navigation_header{
    gap: 4em;
    z-index: 6;
}
.content{
    padding-top: 5em;
    text-align: center;
    height: 100vh;
    transition: 2s;
}
.navigation_header a{
    text-decoration: none;
    color: var(--color-purple);
    transition: 0s;
    font-weight: bold;
}
.navigation_header a:hover{
    color: var(--color-kil);
}
.active{
    color: var(--color-dark3);
    padding: 10px;
    border-radius: 10px;
}

.btn_icon_header{
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}
@media screen and (max-width: 768px) {
    .navigation_header{
        position: absolute;
        flex-direction: column !important;
        top: 0;
        background: #387564;
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }
    .btn_icon_header{
        display: contents;
    }
}
@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: -10vw;}
}