* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #FCF8F5;
}

/*INICIO*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7em;
    margin-top: 1em;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}
header a {
    text-decoration: none;
    color:#087A34;
}
article{
    background-image: url(../Imagens/hidroginastica.png);
    padding: 10em;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 0.2em solid #6AA13B ;
    border-bottom: 0.2em solid #6AA13B ;
    margin-top: 1em;
}
.button{ 
    background-color:#6AA13B;
    border: 0;
    color: #eeebeb;
    padding: 1em;
    border-radius: 0.5em;
    font-size: 1.5em;
    font-family: 'Poppins', serif;
    
    text-align: center;
    width: 8em;
    display: block;
    margin: 0 auto;
    margin-top: 3em;
    text-decoration: none;
}
ul{
    display: flex;
    list-style-type: none;
    gap: 5em;
    text-decoration: none; 
}
li ul nav{
    color: #11110A;
    font-weight: bold;
}
a:hover{
    color: #294B08;
}
h1{
    text-align: center;
    color: #294B08;
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 101px;
    letter-spacing: -0.18px;
    }
.inicio{
    font-family: 'Poppins', sans-serif;
    color: #163713;
    margin-top: 1em;
    font-size: 1.4em;
    text-align: center;
}
    

/*MODALIDADE*/
.modalidade h3{
    text-align: left;
    margin-top: 4em;
    margin-left: 3.8em;
    font-family: 'Poppins';
    font-size: 2em;
} 
h2{
    text-align: center;
    font-family: 'Michroma', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-top: 3em;
    font-size: 3em;   
    color: #011811;
}

section .pmodalidade{
    text-align: left;
    margin-top: 1em;
    margin-left: 7.5em;
    font-family: 'Poppins', sans-serif;
    color: #011811;
}
.modal{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 12em;
    align-items: center;
    text-decoration: none;
    color: #11110A;
    padding: 2em 7em;
    min-width: 4em;
    min-height: 5em;
}
div a{
    text-decoration: none;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #11110A;
}
.modalidade a:hover{
    color: #294B08;
    
}
.setalado{
    font-size: 2em;
    margin-left: -3.5em;
}
.setalado img{
    height: 2em;
}
/*TABELA*/
.musculacao caption{
    color: #FFFFFF;
    font-family: 'Michroma', sans-serif;
    font-size: 1.5em;
    text-align: center;
    margin: 2em;
}
.musculacao table{
    background-color: #175832;
    width: 70em;
    height: 40em;
    text-align: center;
    margin: auto;
    margin-bottom: 5em;
    padding: 3em;
    border-collapse: separate; 
    border-spacing: 15px;
}
.musculacao th:nth-child(1){
    background-color: #087A34;
    color: #E9E4CF;
}
.musculacao th{
    background-color: #1F462E;
    width: 2em;
    height: 1em;
    font-size: 1em;
    color:#FFFFFF ;
    font-family: 'Martel Sans', sans-serif;
}
.musculacao td{
    background-color: #E9E4CF;
    font-family: 'Martel Sans';
    font-weight: bolder;
    color: #1F462E;

}
.musculacao td:nth-child(1){
    background-color:#087A34 ;
    font-family: 'Poppins';
    color: #E9E4CF;
}
 /*BOTAO*/
.container {
    background-color: #444444;
    margin: auto;
    padding: 20px;
    width: 150%;
}

.close {
    color: #ffffff;
    float: right;
    font-size: 2EM;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* INSCRICAO */
.ics{
    width: 1em;
    height: 2em;
    margin-left: 47em;
    margin-bottom: 5em;
}

.container2 { 
    display: grid;
    grid-template-columns: 1.5fr 0.2fr 1.4fr;
    grid-template-rows: 1fr 0.9fr 1.1fr;
    grid-auto-rows: 2fr;
    gap: 0px 0px;
    grid-auto-flow: row dense;
    align-items: stretch;
    grid-template-areas:
      "a d e"
      "b d f"
      "c d g";
  }
.a{
    grid-area: a;
   
    width: 80px;
    height: 10px;
    justify-content: left;
}
.b{
    grid-area: b;
    background-color: rgb(31, 113, 128);
}
.c{
    grid-area: c;
    background-color: rgb(226, 183, 43);
}
.d{
    grid-area: d;
    background-color: rgb(43, 46, 226);
}
.e{
    grid-area: e;
    background-color: rgb(177, 226, 43);
}
.f{
    grid-area: f;
    background-color: rgb(48, 139, 94);
}
.g{
    grid-area: g;
    background-color: rgb(226, 43, 43);
}
h3 p .inscricao{
    font-size: 7px;
}

/*CONTATO*/
.contato{
    display: flex;
    justify-content: center;
    align-items: center;
    /*gap: 8em; */
    margin: 0 auto;

    /*acrescentei as duas linhas a seguir*/
    flex-flow: row wrap;
    width: 70%;
}
.contato div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3em;    
}
.contato div:nth-of-type(1){
    flex: 1 1 40%; 
}
.contato div:nth-of-type(2){
    flex: 1 1 20%;
}
.contato div:nth-of-type(3){
    flex: 1 1 40%;
}
.contato div:nth-of-type(4){
    flex: 1 1 55%;
}
.contato div:nth-of-type(5){
    flex: 1 1 45%;
    padding-right: 10%;
}
.contato div .paragrafo{
    font-family: 'Michroma';
    font-size: 1.2em;
    margin-top: 1em;
}
.contato img{
    height: 5.5em;
}

.mapa{
    text-align: center;
}
.mapa p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
}
.endereco{
    font-family: 'Poppins';
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 1.3em;
}

/*EQUIPE*/
.equipe{
    margin-bottom: 15em;
}
.equipe ul{
    display: flex;
    justify-content: center;
    flex-direction: row;

}
.equipe li:nth-child(1){
    background-color: #087A34;
    position: absolute;
    width: 606.58px;
    height: 128.79px;
    left: 537px;
    top: 325em;
}
.equipe li:nth-child(2){
    background-color: #163713;
    position: absolute;
    width: 367.83px;
    height: 130.35px;
    left: 808px;
    top: 330em;
}
.equipe h3{
    display:block;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
    font-family: 'Michroma', sans-serif;
    font-size: 1.5em;
}
.equipe h4{
    font-family: 'Poppins';
}
.equipe p{
    font-family: 'Poppins', sans-serif;
}
.linha {
    text-align: center;
    margin-bottom: 5em;
}
.seta{
    text-align: right;
    margin-top: 5em;
    margin-right: 3em;
}


/*FOOTER*/
footer{
    background-color: #294B08;
}
footer .container3{
    text-align: center;
}
footer img{
    margin-top: 2em;
}
